{{!< default}}

<div id="welcome" class="parallax large-view" style="background-image: url({{@blog.cover}});">
    <div class="text logotext">
        <h1>{{@blog.title}}</h1>
        <p>{{@blog.description}}</p>
    </div>
</div>

<section class="text-block">
    <div class="features text-center dark-bg">
        <div class="container">
            <div class="row-fluid">
                <article class="span3">
                    <i class="icon-resize-full"></i>
                    <h3 class="with-border">Full Responsive</h3>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora. </p>
                    <a class="btn">Read more</a>
                </article>
                <article class="span3">
                    <i class="icon-magic"></i>
                    <h3 class="with-border">Parallax Effect</h3>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora. </p>
                    <a class="btn">Read more</a>
                </article>
                <article class="span3">
                    <i class="icon-thumbs-up"></i>
                    <h3 class="with-border">Modern Design</h3>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora. </p>
                    <a class="btn">Read more</a>
                </article>
                <article class="span3">
                    <i class="icon-cogs"></i>
                    <h3 class="with-border">Easy Customizable</h3>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora. </p>
                    <a class="btn">Read more</a>
                </article>
            </div>
        </div>
    </div>
    <div class="light-bg">
        <div class="container">
            <h2 class="with-border">Latest Projects</h2>
            <ul class="thumbnails">
                <li class="span4">
                    <div class="thumbnail">
                        <div class="img-wrap">
                            <a href="{{asset 'images/bg4.jpg'}}" class="colorbox">
                                <div class="black-bg">
                                    <i class="icon-zoom-in"></i>
                                </div>
                                <img src="{{asset 'images/bg4.jpg'}}" alt="" rel="gal"/>
                            </a>
                        </div>
                        <a href="#">
                            <h3 class="with-border color">Work place</h3>
                            <p>Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et mattis. Consectetur sed congue vel, sollicitudin eget odio. Neque porro quisquam est, adipisci velit, sed quia non numquam eius modi tempora.</p>
                        </a>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <div class="img-wrap">
                            <a href="{{asset 'images/image_4.jpg'}}" class="colorbox">
                                <div class="black-bg">
                                    <i class="icon-zoom-in"></i>
                                </div>
                                <img src="{{asset 'images/image_4.jpg'}}" alt="" rel="gal"/>
                            </a>
                        </div>
                        <a href="#">
                            <h3 class="with-border color">Summer day</h3>
                            <p>Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et mattis. Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et mattis.</p>
                        </a>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <div class="img-wrap">
                            <a href="{{asset 'images/image_2.jpg'}}" class="colorbox">
                                <div class="black-bg">
                                    <a href="{{asset 'images/image_2.jpg'}}" class="colorbox"><i class="icon-zoom-in"></i></a>
                                </div>
                                <img src="{{asset 'images/image_2.jpg'}}" alt="" rel="gal"/>
                            </a>
                        </div>
                        <a href="#">
                            <h3 class="with-border color">Good morning</h3>
                            <p>Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et mattis. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="dark-bg">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h2 class="with-border">Why choose us?</h2>
                    <div id="accordion" class="section">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="icon-resize-full"></i> Full Responsive
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum ligula. Nullam iaculis dictum ullamcorper. In vitae pellentesque massa. Vivamus viverra libero dapibus, sodales lectus a, consectetur ante. Pellentesque diam ante, egestas at suscipit vel, aliquam sit amet massa. Suspendisse placerat purus at lacus dictum, ut dapibus mauris accumsan. Nullam malesuada turpis mollis, condimentum dolor nec, ornare odio.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <i class="icon-magic"></i> Parallax Effect
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum ligula. Nullam iaculis dictum ullamcorper. In vitae pellentesque massa. Vivamus viverra libero dapibus, sodales lectus a, consectetur ante. Pellentesque diam ante, egestas at suscipit vel, aliquam sit amet massa. Suspendisse placerat purus at lacus dictum, ut dapibus mauris accumsan. Nullam malesuada turpis mollis, condimentum dolor nec, ornare odio.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <i class="icon-thumbs-up"></i> Modern Design
                                </a>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum ligula. Nullam iaculis dictum ullamcorper. In vitae pellentesque massa. Vivamus viverra libero dapibus, sodales lectus a, consectetur ante. Pellentesque diam ante, egestas at suscipit vel, aliquam sit amet massa. Suspendisse placerat purus at lacus dictum, ut dapibus mauris accumsan. Nullam malesuada turpis mollis, condimentum dolor nec, ornare odio.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <i class="icon-cogs"></i> Easy Customizable
                                </a>
                            </div>
                            <div id="collapseFour" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum ligula. Nullam iaculis dictum ullamcorper. In vitae pellentesque massa. Vivamus viverra libero dapibus, sodales lectus a, consectetur ante. Pellentesque diam ante, egestas at suscipit vel, aliquam sit amet massa. Suspendisse placerat purus at lacus dictum, ut dapibus mauris accumsan. Nullam malesuada turpis mollis, condimentum dolor nec, ornare odio.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <h2 class="with-border">Testimonials</h2>
                    <div id="myCarousel" class="carousel slide section">
                        <div class="carousel-inner">
                            <div class="active item">
                                <div class="testimonials-block">
                                    <article>
                                        <blockquote>"Lorem ipsum dolor sit amet, nam idque tantas vidisse ex, per ea sint explicari theophrastus, dicat tantas copiosae eam id. Cum maiestatis necessitatibus ad, nam ut mutat quaestio. Id primis dolores eum. Munere sententiae vis ea. Pro dicta insolens eu, duo veniam eruditi oportere an, eum molestie salutandi in. Vix in elit legere appetere, pri in erant."</blockquote>
                                        <b class="caret"></b>
                                        <p class="author"><i class="icon-user"></i> Mani Coop, <span>Google</span></p>
                                    </article>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonials-block">
                                    <article>
                                        <blockquote>"Lorem ipsum dolor sit amet, nam idque tantas vidisse ex, per ea sint explicari theophrastus, dicat tantas copiosae eam id. Cum maiestatis necessitatibus ad, nam ut mutat quaestio. Id primis dolores eum. Munere sententiae vis ea. Pro dicta insolens eu, duo veniam eruditi oportere an, eum molestie salutandi in. Vix in elit legere appetere, pri in erant."</blockquote>
                                        <b class="caret"></b>
                                        <p class="author"><i class="icon-user"></i> Mani Coop, <span>Google</span></p>
                                    </article>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonials-block">
                                    <article>
                                        <blockquote>"Lorem ipsum dolor sit amet, nam idque tantas vidisse ex, per ea sint explicari theophrastus, dicat tantas copiosae eam id. Cum maiestatis necessitatibus ad, nam ut mutat quaestio. Id primis dolores eum. Munere sententiae vis ea. Pro dicta insolens eu, duo veniam eruditi oportere an, eum molestie salutandi in. Vix in elit legere appetere, pri in erant."</blockquote>
                                        <b class="caret"></b>
                                        <p class="author"><i class="icon-user"></i> Kate Saliman, <span>Company name</span></p>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="text-block">